<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsersMapper">
	<insert id = "insertUser" parameterType="vo.UsersVO">
		insert into users(users_id, users_name, password, email, join_date)
		values(#{users_id},#{users_name},#{password},#{email}, sysdate)
	</insert>
	<select id="searchLoginId" resultType="vo.UsersVO" parameterType="string">
		select * from users where users_id like #{idVal}
	</select>
	
</mapper>